@font-face {
  font-family: 'CNNSans';
    src: url('/node_modules/@johnsand/sans/CNNSansDisplay-Light.ttf');
}
@keyframes horizontalBounce {
	from {
		transform: translate(0,0);
	}
	to {
		transform: translate(-15px,0);
	}
}
@keyframes verticalBounce {
	from {
		transform: translate(0,0);
	}
	to {
		transform: translate(0,-15px);
	}
}

body {
	font-family: "CNNSans", "Helvetica", "sans-serif";
}
#app {
	width:100%;
	height:100vh;
}
.extensionContainer {
	display:flex;
	justify-items: center;
	height: 100%;
	align-items: center;
	position: relative;
}
#cropper {
	position: relative;
	display: inline-block;
}
.resultImage {
	max-width:700px;
	max-height:600px;
}
.dropZone {
	margin:0 auto;
	width:500px;
	height:300px;
	border:dashed darkgray 2px;
}
.dropZone div{
	position:relative;
	top:115px;
	width:90%;
	margin:auto;
	text-align:center;
	cursor:pointer;
}
.dropZoneAccept {
	background-color:#eeffee;
	border-color:green;
}
.dropZoneReject {
	background-color:#ffeeee;
	border-color:red;
}
.rc-slider-vertical div.rc-slider-handle{
	margin-left: -70px;
	margin-bottom: -10px;
	border-radius: 3px;
	display:flex;
	align-items: center;
	justify-content: center;
	width:50px;
	height:20px;
	cursor:move;
	border-color:#337ab7;
}
div.rc-slider-handle:active{
	box-shadow:none;
	cursor:move;
	border-color:#337ab7;
}
div.rc-slider-handle:hover{
	border-color:#337ab7;
}
.rc-slider-handle:before{
	content:"ZOOM";
	color:#337ab7;
	top:1px;
	position:relative;
}
.rc-slider-handle:after{
	content:"";
	border-top: 10px solid transparent;
	border-left: 20px solid #337ab7;
	border-bottom: 10px solid transparent;
	position: absolute;
	left: 46px;
}
span.rc-slider-dot-active{
	border-color:#337ab7;
}
div.rc-slider-track{
	background-color:#337ab7;
}
.guideArrow {
	position:relative;	
	font-size:40px;
}
.guideArrowTop {
	animation: verticalBounce 1s ease-in-out alternate infinite;
}
.guideArrowBottom {
	animation: verticalBounce 1s ease-in-out alternate-reverse infinite;
}
.guideArrowLeft{
	animation: horizontalBounce 1s ease-in-out alternate infinite;
}
.guideArrowRight {
	animation: horizontalBounce 1s ease-in-out alternate-reverse infinite;
}
.form-horizontal {
	width:100%;
}
.resultsGrid {
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	font-size:12px;
}
.card-body {
	padding:0 0.5rem 0.5rem 0.5rem;
}
p.card-title {
	font-weight:bold;
}
.card-body p {
	margin-bottom:0.1rem;
}
.card-footer {
	padding:0.4rem;
}
.two-items {
	display:flex;
	justify-content:space-between;
	margin-bottom: 0;
}
.btn-xs {
	font-size:0.7rem;
	padding:0.1rem 0.4rem;
}
.btn-group > .btn:not(:last-child):not(.dropdown-toggle), .btn-group > .btn-group:not(:last-child) > .btn {
	border-right: solid #7d7d7d 2.5px;
}
.dropdown-menu{
	min-width:unset;
	padding:unset;
	font-size:unset;
	margin:unset;
	left:unset;
	display:unset;
	right:0;
}
.hidden {
	display:none;
}
.searchResultDetail {
	position:absolute;
	display:flex;
	color:white;
	flex-direction:column;
	align-items:center;
	background-color:rgba(0,0,0,0.85);
	word-wrap: break-word;
	background-clip: padding-box;
	border-radius: .3rem;
	pointer-events: none;
	box-shadow: 0px 0px 35px 1px rgba(0,0,0,0.35);
	transition:opacity 3s;
	z-index:1000;
}
.detailCaption {
	margin:10px;
}
.rc-pagination {
	display:inline-block;
	margin-top:20px;
}
.rc-pagination-item-active {
	background-color:#007bff !important;
	border-color:#007bff !important;
}
.rc-pagination-item-active a {
	color:white !important;
}
.cropperWindow {
	position:fixed;
	top:0;
	left:0;
	display:flex;
	align-items:center;
	justify-content:center;
	width:100vw;
	height:100vh;
	background-color:rgba(0,0,0,0.5);
	z-index:1000;
}
.cropperWindow > div {
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
	background-color:white;
	padding:50px 80px 50px 90px;
	box-shadow: 0px 0px 35px 1px rgba(0,0,0,0.6);
}
.searchFavorites {
	position:fixed;
	left:0;
	bottom:0;
	box-shadow: 0px 0px 35px 1px rgba(0,0,0,0.35);
	z-index:998;
}
.searchFavoritesHeader{
	font-size:1.25em;
	font-weight:bold;
}
.searchFavoritesList {
	display:flex;
	align-items:start;
	justify-content:center;
	flex-wrap:wrap;
	padding:10px;
}
.searchFavoriteClose {
	font-size: 1.3rem;
	position: relative;
	top: -1px;
	left: 0.2em;
}
.flex-apart {
	display:flex;
	align-items:center;
	justify-content:space-between;
}
.sortableHelper {
	z-index:1000;
}
